{% render 'partials/head.liquid' %}
    <h1>FDND</h1>
    <section class="homepage-links">
        <a href="">See the squad!</a>
        <a href="">See the team!</a>
    </section>
{% render 'partials/footer.liquid' %}