{% render 'partials/head.liquid' %}
<h1>FDND</h1>
    <section class="homepage-links">
        <a href="">See the squad!</a>
        <a href="">See the team!</a>
    </section>
    <img class="background-image" src="/assets/images/background.png" alt="background-image">
{% render 'partials/footer.liquid' %}