{% render 'partials/head.liquid' %}
<main class="homepage">
    <h1>FDND</h1>
    <section class="homepage-links">
        <a href="/teampacks">See the team!</a>
    </section>
</main>
{% render 'partials/footer.liquid' %}