{% render 'partials/head.liquid' %}

    <link rel="stylesheet" href="teampacks.css">


<main>
    <!--team packs-->
    <section class="team-pack-container " id="teamPackContainer">
      <ul>
        {% assign seen_teams = "" %}
     {% for person in persons %}
      {% if person.team != null and person.team != '' %}
        {% unless seen_teams contains person.team %}
        <li class="team-pack"> 
            <a href="/views/player.liquid" class="pack" data-team-name="{{teamName}}">
                <img src="/assets/images/image 7.png" alt="team-pack">
                <h1>open team {{ person.team }}</h1>
            </a>
        </li>
        {% assign seen_teams = seen_teams | append: "," | append: person.team %}
    {% endunless %}
      {% endif %}
        {% endfor %}
        </ul>
    </section>

        <!-- Loader Animation -->
        <section id="loader" class="hidden">
            <svg class="loader spinner"
            viewBox="0 0 100 100" overflow="visible">        
                <g class="core">
                  <circle class="path" cx="50" cy="50" r="1" fill="none" />
                </g>
                <g class="layer-1">
                  <circle class="path" cx="50" cy="50" r="70" fill="none" />
                </g>
                <g class="layer-2">
                  <circle class="path" cx="50" cy="50" r="120" fill="none" />
                </g>
                <g class="layer-3">
                  <circle class="path" cx="50" cy="50" r="180" fill="none" />
                </g>
                <g class="layer-4">
                  <circle class="path" cx="50" cy="50" r="240" fill="none" />
                </g>
                <g class="layer-5">
                  <circle class="path" cx="50" cy="50" r="300" fill="none" />
                </g>
                <g class="layer-6">
                  <circle class="path" cx="50" cy="50" r="380" fill="none" />
                </g>
                <g class="layer-7">
                  <circle class="path" cx="50" cy="50" r="450" fill="none" />
                </g>
                <g class="layer-8">
                  <circle class="path" cx="50" cy="50" r="540" fill="none" />
                </g>
              </svg>
         </section>
        



</main>

<script src="script.js"> </script>

 {% render 'partials/footer.liquid' %}