{% render 'partials/head.liquid' %}

<main>
    <section class="team-pack-container">
        <article class="team-pack">
            <h1>open team {{ teamName }}</h1>
            <img src="/assets/images/image 7.png" alt="team-pack">
        </article>
    </section>
</main>

{% render 'partials/footer.liquid' %}