{% render 'partials/head.liquid' %}

<main>
    <section class="team-pack-container">
        <a href="/team/{{teamName}}" class="pack">
            <img src="/public/assets/images/image 7.png" alt="team pack {{teamName}}">
            <p>{{teamName}}</p>
        </a>
    </section>
</main>


{% render 'partials/footer.liquid' %}