* {
    margin: 0;
}

@font-face {
    font-family: 'Brazil', Arial, Helvetica, sans-serif;
    src: url(./assets/fifa_font_pack_by_dledeviant_dc8xl5l/Brazil\ 2014/Pagode.otf);
}

:root{

    /*fonts*/
    --primary-font-brazil: 'Brazil';

    --font-size-s: 0.875em;  /* Small */
    --font-size-m: 1em;      /* Medium (Base size) */
    --font-size-l: 1.25em;   /* Large */
    --font-size-xl: 1.5em;   /* Extra Large */
    --font-size-xxl: 2em;    /* Double Extra Large */


    /*buttons and button states*/
    --button-color-normal: rgb(217, 187, 112);
    --button-border-color-normal: rgb(212, 99, 2);
    --button-text-color-normal:white;

    --button-color-hover: rgb(228, 229, 226);
    --button-border-hover: rgb(82, 73, 45);
    --button-text-color-hover:rgb(82, 73, 45);

    /*borders*/

    --border-radius: 50px;


    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-brazil);
    height: 100vh;
    margin: 0;
    background-image: url("background.png");
}

h1{
    color: rgb(217, 187, 112);
    padding-bottom: 3em;
    font-size: 2.8em;
}

.homepage-links {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 1em;
    gap: 1em;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12em;
        height: 4em;
        background-color: var(--button-color-normal);
        border: 3px solid var(--button-border-color-normal);
        border-radius: 50px;
        text-decoration: none;
        color: var(--button-text-color-normal);

        &:hover {
            background-color: var(--button-color-hover);
            border-color: var(--button-border-hover);
            color: var(--button-text-color-hover);
        }
    }
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1em;
    p{
        font-size: 1em;
    }
}