* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/footballpitch.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw;
}

section{
    margin: 0.5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-items: center; 
    align-items: center; 
    gap: 2em;
}



li {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}


.team-pack img {
 max-width: 3.5em;
 height: auto;
}


.team-pack h1 {
    font-size: 0.82em;
    margin-top: 0.5em;
    padding-bottom: 0;
    color: white;
}

