* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden;  */
    background-image: url("/assets/images/footballpitch.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    justify-items: center; 
    align-items: center; 
    height: 100vh;
    width: 90vw; 

    @media (min-width: 48em) {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
    }

    @media (min-width: 64em) { 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}



li {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    width: 10em; 
    height: 14em; 
}


.team-pack img {
    max-width: 7em;
    height: auto;

    @media (min-width: 48em) {
        max-width: 10em;
    }

    @media (min-width: 64em) {
        max-width: 11em;
    }
}


.team-pack h1 {
    font-size: 1.4em;
    margin-top: 0.5em;
    padding-bottom: 0;
    color: white;
}

